section.breadcrumbs
    .wrapper
        .breadcrumbs-container
            nav.breadcrumbs-nav
                a(href="##").breadcrumbs-nav__link Главная
                a(href="##").breadcrumbs-nav__link Каталог
                a(href="##").breadcrumbs-nav__link.breadcrumbs-nav__link_active Название товара



