footer.footer
    .wrapper
        .footer-container
            a(href="##").footer__logo
                img(src="../images/footer-logo.png")
            nav.footer-nav
                .footer-nav-top
                    a(href="##").footer-nav__link Главная
                    a(href="##").footer-nav__link Каталог техники
                    a(href="##").footer-nav__link Услуги
                .footer-nav-bottom
                    a(href="##").footer-nav__link Выполненные работы
                    a(href="##").footer-nav__link О компании
                    a(href="##").footer-nav__link Контакты
            .footer-right
                .footer-right-top © Aйтекс start 2016
                .footer-right-bottom
                    img(src="../images/itex-logo.png").footer-right-bottom__img
                    a(href="http://www.itexstart.ru/" target="_blank").footer-right-bottom__link itexstart.ru
