header.header
    .wrapper
        .header-container
            img(src="../images/header-logo.png").header__logo
            h1.header__title УСЛУГИ СТРОИТЕЛЬНОЙ ТЕХНИКИ
            .header__address г. Екатеринбург,  ул.Маяковского, 25 <br> +7 (343) 222-20-17




