nav.header-nav
    .wrapper
        .header-nav-container
            a(href="##").header-nav-logo
                img(src="../images/nav-logo.png").header-nav-logo__img
            .header-nav-menu
                a(href='##').header-nav-menu__item КАТАЛОГ  ТЕХНИКИ
                a(href='##').header-nav-menu__item УСЛУГИ
                a(href='##').header-nav-menu__item ВЫПОЛНЕННЫЕ  РАБОТЫ
                a(href='##').header-nav-menu__item О  КОМПАНИИ
                a(href='##').header-nav-menu__item КОНТАКТЫ



