section.header-nav
    .wrapper
        .header-nav-container
            a(href="##").header-nav-logo
                img(src="../images/nav-logo.png").header-nav-logo__img
            nav.header-nav-menu
                a(href='##').header-nav-menu__link КАТАЛОГ  ТЕХНИКИ
                a(href='##').header-nav-menu__link УСЛУГИ
                a(href='##').header-nav-menu__link ВЫПОЛНЕННЫЕ  РАБОТЫ
                a(href='##').header-nav-menu__link О  КОМПАНИИ
                a(href='##').header-nav-menu__link КОНТАКТЫ





