section.product
    .wrapper
        .product-container
            .product-left
                img(src="../images/product.jpg").product-left__img
            .product-right
                h1.product-right__title JCB 4CX Super
                .product-right__item.product-right__item_active Характеристики
                .product-right__accord
                    label.product-right-char
                        input(type="radio" name="char1" data-pos='0').checkbox
                        span.checkbox-custom
                        span.label Характеристика 1
                    label.product-right-char
                        input(type="radio" name="char1" data-pos='1').checkbox
                        span.checkbox-custom
                        span.label Характеристика 2
                    label.product-right-char
                        input(type="radio" name="char1" data-pos='2').checkbox
                        span.checkbox-custom
                        span.label Характеристика 3
                .product-right__item Информация
                .product-right__accord
                    p.product-right-info Простой текстовый блок Простой текстовый блок Простой текстовый блок Простой текстовый блок Простой текстовый блок Простой текстовый блок
                .product-right__price 125.000 Р.
                a(href="##").product-right__btn заказать


