section.services-top
    h1.services-top__title УСЛУГИ
    .services-bottom
        .wrapper
            ul.services-bottom-list
                li.services-bottom-item
                    img(src="../images/services.jpg").services-bottom-item__img
                    h3.services-bottom-item__title ЗАСЫПКА ТРАНШЕЙ
                    p.services-bottom-item__desc Нашей компанией осуществляется засыпка траншей в Екатеринбурге, востребованная предприятиями и частными лицами.
                li.services-bottom-item
                    img(src="../images/services.jpg").services-bottom-item__img
                    h3.services-bottom-item__title ВЫВОЗ МУСОРА
                    p.services-bottom-item__desc Вывоз мусора — составляющая деятельности производств и бытовых предприятий
                li.services-bottom-item
                    img(src="../images/services.jpg").services-bottom-item__img
                    h3.services-bottom-item__title ДОСТАВКА
                    p.services-bottom-item__desc Отсев образуется после разработки твердых горных пород и является востребованным материалом в строительстве.
                li.services-bottom-item
                    img(src="../images/services.jpg").services-bottom-item__img
                    h3.services-bottom-item__title ПОДЪЕМ ГРУЗОВ
                    p.services-bottom-item__desc Выполнение широкого спектра высотных операций сложно представить без специализированной техники.




