section.slider
    .photos
        .slide
            img(src="../images/slider1.jpg")
            .slide__desc ПРОФЕССИОНАЛЬНАЯ  ТЕХНИКА В АРЕНДУ   ОТ
                span.slide__price 15000
                    .slide__units руб./сутки

        .slide
            img(src="../images/slider1.jpg")
            .slide__desc ПРОФЕССИОНАЛЬНАЯ  ТЕХНИКА В АРЕНДУ   ОТ
                span.slide__price 15000
                    .slide__units руб./сутки
        .slide
            img(src="../images/slider1.jpg")
            .slide__desc ПРОФЕССИОНАЛЬНАЯ  ТЕХНИКА В АРЕНДУ   ОТ
                span.slide__price 15000
                    .slide__units руб./сутки
    .buttons
        .buttons__next
        .buttons__prev




