section.todolist
    .wrapper
        h1.todolist__title Заголовок
        ul.todolist-list
            li.todolist-list__item 1. Задача 1
                i.fa.fa-pencil(aria-hidden="true")
                i.fa.fa-times(aria-hidden="true")
            li.todolist-list__item 1. Задача 2
                i.fa.fa-pencil(aria-hidden="true")
                i.fa.fa-times(aria-hidden="true")
        .todolist-add
            i.fa.fa-plus.add(aria-hidden="true")
            .todolist-widjet
                input(type="text" name="widjet").todolist-widjet__input
                span.todolist-widjet__btn
                    i.fa.fa-check(aria-hidden="true")
                    i.fa.fa-times(aria-hidden="true")


