doctype html

html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='Content-Type', content="IE=edge")
        meta(name="viewport" content="initial-scale=1.0")
        link(rel="stylesheet" href="css/main.css")
        title Techhique
    body
      include sections/header
      include sections/nav
      include sections/slider
      include sections/breadcrumbs
      include sections/product
      include sections/services
      include sections/todolist
      include sections/map
      include sections/footer

    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5fzJTywPKjvM_kwH2aEIUyNYD9RkfMbg" async defer)
    script(src="js/main.min.js")