doctype html

html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='Content-Type', content="IE=edge")
        link(rel="stylesheet" href="css/main.css")
        title houses
    body
      include sections/header                              
      include sections/nav
      include sections/slider
      include sections/breadcrumbs
      include sections/product
      include sections/services
      include sections/todolist
      include sections/map
      include sections/footer

    script(src="js/main.min.js")