.header{
  padding: 25px 0 20px;
  background: $yellow;

  &-container{
    display: flex;
    justify-content: space-between;

    @media (max-width: 590px){
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo{
    flex-basis: 146px;
    margin-right: 17px;

    @media (max-width: 590px){
      flex-basis: auto;
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  &__title{
    flex-basis: 160px;
    align-self: center;
    font-family: $bold;
    font-size: 14px;
    line-height: 24px;

    @media (max-width: 590px){
      flex-basis: auto;
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  &__address{
    flex-grow: 2;
    align-self: center;
    font-size: 14px;
    text-align: right;

    @media (max-width: 590px){
      flex-basis: auto;
      text-align: center;
    }
  }
}
