.header-nav{
  padding: 8px 0;

  &-container{
    @include row-flex();
    align-items: center;
  }

  &-logo{
    @include col();
    @include col-1();
  }

  &-menu{
    @include col();
    @include col-10();

    &__link{
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
      margin-right: 40px;
      color: #818180;
      &:hover{
        color: #010101;
      }


    }
  }


}
