@font-face{
  font-family: "PTSans-regular";
  src: url(../fonts/PTSans-regular.ttf);
}

@font-face{
  font-family: "PTSans-bold";
  src: url(../fonts/PTSans-bold.ttf);
}

@font-face{
  font-family: "Myriad";
  src: url(../fonts/MyriadPro.otf);
}

@font-face{
  font-family: "fontawesome-webfont";
  src: url(../fonts/fontawesome-webfont.ttf);
}

@font-face{
  font-family: "fontawesome-webfont";
  src: url(../fonts/fontawesome-webfont.woff);
}

@font-face{
  font-family: "fontawesome-webfont";
  src: url(../fonts/fontawesome-webfont.woff2);
}




